{% extends 'layouts/base_layout.html' %}

{% block title %}
    Ментордың басқару панелі
{% endblock title %}


{% block base_layout %}
<div class="max-w-screen-xl py-6 px-4 mx-auto grid gap-8">
    <!-- User full name -->
    <div class="grid gap-2 text-center">
        {% if user.avatar %}
            <img 
                class="w-28 h-28 rounded-full mx-auto"
                src="{{ user.avatar.url }}" alt="user photo"
            >
        {% else %}
            <div 
                id="avatar-preview"
                class="w-28 h-28 mx-auto rounded-full bg-secondary-100 flex items-center justify-center text-foreground text-4xl"
            >
                {{ user.first_name|first|upper }}{{ user.last_name|first|upper }}
            </div>
        {% endif %}
        <h1 class="text-2xl font-medium" role="none">
            👋, {{ user.first_name }} {{ user.last_name }}
        </h1>
        <div class="flex justify-center">
            <div class="flex items-center gap-1 bg-primary-100 text-primary-600 font-medium px-2.5 py-0.5 rounded-xl">
                <div class="w-2 h-2 rounded-full bg-primary-600"></div>
                {{ user.get_user_type_display }}
            </div>
        </div>
    </div>

    <!-- Statictics -->
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 xl:grid-cols-3">
        <div class="block text-center p-6 bg-primary-600 border text-white border-secondary-200 rounded-lg">
            <h5 class="mb-2 text-4xl font-semibold tracking-tight">{{ generics.subjects_count }}</h5>
            <p class="font-normal">Оқу бағдарламасы</p>
        </div>

        <div class="block text-center p-6 bg-primary-600 border text-white border-secondary-200 rounded-lg">
            <h5 class="mb-2 text-4xl font-semibold tracking-tight">{{ generics.classes_count }}</h5>
            <p class="font-normal">Сынып саны</p>
        </div>

        <div class="block text-center p-6 bg-primary-600 border text-white border-neutral-200 rounded-lg">
            <h5 class="mb-2 text-4xl font-semibold tracking-tight">{{ generics.students_count }}</h5>
            <p class="font-normal">Оқушы</p>
        </div>
    </div>

    <!-- Subjects stats -->
    <div class="grid gap-4">
        <div class="relative">
            <h1 class="text-xl font-semibold">Барлық өтіліп жатқан пәндер</h1>
        </div>

        <div class="grid gap-2">
            {% for item in subjects_data %}
                <div class="grid md:flex items-start rounded-lg border border-border-200">
                    <a 
                        href="{% url 'subject_manage' item.subject.id %}" 
                        class="grid flex-1 md:flex items-start gap-4 p-4 border-r border-border-200 hover:bg-secondary-50"
                    >
                        <div class="w-full md:max-w-xs rounded-lg overflow-hidden">
                            {% if item.subject.poster %}
                                <img
                                    src="{{ item.subject.poster.url }}"
                                    class="aspect-video flex justify-center items-center text-muted bg-secondary-100" 
                                />
                            {% else %}
                                <div class="aspect-video flex justify-center items-center text-muted bg-secondary-100">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-box-icon lucide-box">
                                        <path
                                            d="M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z" />
                                        <path d="m3.3 7 8.7 5 8.7-5" />
                                        <path d="M12 22V12" />
                                    </svg>
                                </div>
                            {% endif %}
                        </div>

                        <div class="flex-1 grid gap-2">
                            <h1 class="font-semibold text-xl">{{ item.subject.name }}</h1>

                            <div class="flex justify-between gap-4">
                                <div class="flex flex-col items-center gap-2">
                                    <h1 class="font-medium">Пән бойынша</h1>
                                    <div 
                                        class="radial-progress bg-secondary-100 text-base text-primary-600"
                                        style="--value: {{ item.subject_avg_percentage|floatformat:0 }}; --size: 4rem;" 
                                        aria-valuenow="{{ item.subject_avg_percentage|floatformat:0 }}" role="progressbar"
                                    >
                                        {{ item.subject_avg_percentage|floatformat:0 }}%
                                    </div>

                                    <div>
                                        <div class="inline-flex items-center gap-2 bg-secondary-100 font-medium py-2 px-4 rounded-xl">
                                            <svg class="w-5 h-5 text-amber-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                                                height="24" fill="currentColor" viewBox="0 0 24 24">
                                                <path
                                                    d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                                            </svg>
                                            <span>{{ item.subject_avg_rating|floatformat:0 }} балл</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex flex-col items-center gap-2">
                                    <h1 class="font-medium">Бөлім бойынша</h1>
                                    <div 
                                        class="radial-progress bg-secondary-100 text-base text-primary-600"
                                        style="--value: {{ item.chapter_avg_percentage|floatformat:0 }}; --size: 4rem;" 
                                        aria-valuenow="{{ item.chapter_avg_percentage|floatformat:0 }}" role="progressbar"
                                    >
                                        {{ item.chapter_avg_percentage|floatformat:0 }}%
                                    </div>

                                    <div>
                                        <div class="inline-flex items-center gap-2 bg-secondary-100 font-medium py-2 px-4 rounded-xl">
                                            <svg class="w-5 h-5 text-amber-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                                                height="24" fill="currentColor" viewBox="0 0 24 24">
                                                <path
                                                    d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                                            </svg>
                                            <span>{{ item.chapter_avg_rating }} балл</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex flex-col items-center gap-2">
                                    <h1 class="font-medium">Сабақ бойынша</h1>
                                    <div 
                                        class="radial-progress bg-secondary-100 text-base text-primary-600"
                                        style="--value: {{ item.lesson_avg_percentage|floatformat:0 }}; --size: 4rem;" 
                                        aria-valuenow="{{ item.lesson_avg_percentage|floatformat:0 }}" role="progressbar"
                                    >
                                        {{ item.lesson_avg_percentage|floatformat:0 }}%
                                    </div>

                                    <div>
                                        <div class="inline-flex items-center gap-2 bg-secondary-100 font-medium py-2 px-4 rounded-xl">
                                            <svg class="w-5 h-5 text-amber-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                                                height="24" fill="currentColor" viewBox="0 0 24 24">
                                                <path
                                                    d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
                                            </svg>
                                            <span>{{ item.lesson_avg_rating }} балл</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    
                    <div class="w-full lg:max-w-sm grid gap-2">
                        {% for student in item.students %}
                            <div class="flex items-center py-2 px-4 border-b border-secondary-200">
                                <div class="shrink-0">
                                    {% if student.user.avatar %}
                                        <img 
                                            class="w-8 h-8 rounded-full"
                                            src="{{ student.user.avatar.url }}" alt="user photo"
                                        >
                                    {% else %}
                                        <div 
                                            class="w-8 h-8 rounded-full bg-secondary-100 flex items-center justify-center text-foreground"
                                        >
                                            {{ student.user.first_name|first|upper }}{{ student.user.last_name|first|upper }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="flex-1 min-w-0 ms-4">
                                    <h1 class="text-base font-medium truncate">{{ student.user.first_name }} {{ student.user.last_name }}</h1>
                                    <p class="text-muted truncate ">{{ student.user.get_user_class_display }}</p>
                                </div>
                                    
                                <div 
                                    class="radial-progress bg-secondary-100 text-xs text-primary-600" 
                                    style="--value: {{ student.percentage|floatformat:0 }}; --size: 3rem;" 
                                    aria-valuenow="{{ student.percentage|floatformat:0 }}" role="progressbar"
                                >
                                    {{ student.percentage|floatformat:0 }}%
                                </div>
                            </div>
                        {% empty %}
                            <div class="flex items-center justify-center py-4">
                                <div class="grid gap-2 text-muted">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                        class="lucide lucide-user-round-icon lucide-user-round mx-auto">
                                        <circle cx="12" cy="8" r="5" />
                                        <path d="M20 21a8 8 0 0 0-16 0" />
                                    </svg>
                                    <span>Әлі ешкім тіркелген жоқ!</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock base_layout %}
