<button 
    data-modal-target="feedback-modal" 
    data-modal-toggle="feedback-modal"
    class="flex gap-2 justify-center items-center text-center cursor-pointer focus:outline-none text-white bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg px-5 py-2.5"
    type="button"
>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-message-circle-icon lucide-message-circle">
        <path
            d="M2.992 16.342a2 2 0 0 1 .094 1.167l-1.065 3.29a1 1 0 0 0 1.236 1.168l3.413-.998a2 2 0 0 1 1.099.092 10 10 0 1 0-4.777-4.719" />
    </svg>
    <span>Кері байланыс</span>
</button>

<!-- Main modal -->
<div id="feedback-modal" tabindex="-1" aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow-sm">
            <div
                class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-border-200">
                <h3 class="text-xl font-semibold">
                    Кері байланыс
                </h3>
                <button type="button"
                    class="text-gray-400 bg-transparent hover:bg-secondary-200 hover:text-foreground rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                    data-modal-hide="default-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
                {% if not user_lesson.feedbacks %}
                    <form 
                        method="post" 
                        action="{% url 'feedback_handler' user_subject.id user_chapter.id user_lesson.id %}"
                        class="grid gap-4"
                    >   
                        {% csrf_token %}
                        <div class="grid gap-2 text-left">
                            <label for="rating" class="block font-medium">Бағалау (1-5):</label>
                            <select 
                                name="rating" 
                                id="rating" 
                                required
                                class="bg-secondary-50 border border-border-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"    
                            >
                                <option value="">Таңдаңыз</option>
                                <option value="1">1 - Өте нашар</option>
                                <option value="2">2 - Нашар</option>
                                <option value="3">3 - Қанағаттанарлық</option>
                                <option value="4">4 - Жақсы</option>
                                <option value="5">5 - Тамаша</option>
                            </select>
                        </div>

                        <div class="grid gap-2 text-left">
                            <label for="comment" class="block font-medium">Пікір:</label>
                            <textarea 
                                id="comment"
                                name="comment" 
                                rows="4" 
                                placeholder="Қосымша пікір..."
                                class="block p-2.5 w-full bg-secondary-50 rounded-lg border border-secondary-300 focus:ring-primary-500 focus:border-primary-500"    
                            ></textarea>
                        </div>

                        <div class="flex justify-center">
                            <button 
                                type="submit" 
                                class="flex gap-2 justify-center items-center text-center cursor-pointer focus:outline-none text-white bg-primary-600 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg px-5 py-2.5"
                            >
                                Жіберу
                            </button>
                        </div>
                    </form>
                {% else %}
                    {% for feed in user_lesson.feedbacks.all %}
                        <div class="flex items-start gap-2">
                            {% if user.avatar %}
                                <img 
                                    class="w-8 h-8 rounded-full"
                                    src="{{ user.avatar.url }}" alt="user photo"
                                >
                            {% else %}
                                <div 
                                    class="w-8 h-8 rounded-full bg-secondary-100 flex items-center justify-center text-foreground"
                                >
                                    {{ user.first_name|first|upper }}{{ user.last_name|first|upper }}
                                </div>
                            {% endif %}
                            <div class="flex flex-col w-full leading-1.5 p-4 border-border-200 bg-border-100 rounded-e-xl rounded-es-xl text-left">
                                <div class="flex items-center space-x-2 rtl:space-x-reverse">
                                    <span class="text-sm font-semibold">{{ feed.user_lesson.user.first_name }} {{ feed.user_lesson.user.last_name }}</span>
                                    <span class="text-sm font-normal text-muted">{{ feed.created_at }}</span>
                                </div>
                                <div class="font-normal py-2.5">
                                    {{ feed.comment|safe }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>