{% extends "layouts/main_layout.html" %}
{% load static %}

{% block title %}Барлық пәндер | Biomedia{% endblock title %}


{% block main_layout %}
<div class="max-w-screen-xl px-4 py-8 mx-auto grid gap-8">
    <div class="max-w-lg w-full mx-auto text-center grid gap-4">
        <h1 class="text-2xl font-semibold">Барлық пәндер</h1>

        <form class="w-full">
            <div class="flex">
                <label for="search-dropdown" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Your Email</label>
                <button 
                    id="dropdown-button" 
                    data-dropdown-toggle="dropdown" 
                    class="shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600" type="button"
                >
                    Категориялар 
                    <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                </button>

                <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button">
                        <li>
                            <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-neutral-100">Биология</button>
                        </li>
                        <li>
                            <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-neutral-100">Химия</button>
                        </li>
                    </ul>
                </div>

                <div class="relative w-full">
                    <input 
                        type="search" 
                        id="search-dropdown" 
                        class="block p-2.5 w-full z-20 text-sm bg-neutral-50 rounded-e-lg border-s-neutral-50 border-s-2 border border-neutral-300 focus:ring-green-500 focus:border-green-500" 
                        placeholder="Пән атауы..." 
                        required 
                    />
                    <button 
                        type="submit" 
                        class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-green-600 rounded-e-lg border border-green-600 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300"
                    >
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                        <span class="sr-only">Search</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        {% for item in subject_list %}
            <div
                class="rounded-lg border border-neutral-200 overflow-hidden hover:shadow"
            >
                <a 
                    href="{% url 'subject_detail' item.subject.id %}" 
                    class="block aspect-video"
                >
                    <div class="bg-neutral-100 w-full h-full flex justify-center items-center text-neutral-500">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-box-icon lucide-box">
                            <path
                                d="M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z" />
                            <path d="m3.3 7 8.7 5 8.7-5" />
                            <path d="M12 22V12" />
                        </svg>
                    </div>
                </a>
                
                <div class="p-4">
                    <a 
                        href="{% url 'subject_detail' item.subject.id %}" 
                        class="grid gap-2 pb-2"
                    >
                        <h1 class="text-base font-semibold line-clamp-1">{{ item.subject.title }}</h1>
                        <div class="flex items-center gap-4">
                            <div class="flex gap-2 items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                    class="lucide lucide-folder-open-icon lucide-folder-open">
                                    <path
                                        d="m6 14 1.5-2.9A2 2 0 0 1 9.24 10H20a2 2 0 0 1 1.94 2.5l-1.54 6a2 2 0 0 1-1.95 1.5H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h3.9a2 2 0 0 1 1.69.9l.81 1.2a2 2 0 0 0 1.67.9H18a2 2 0 0 1 2 2v2" />
                                </svg>
                                <span class="text-neutral-500">{{ item.subject.chapters.count }} бөлім</span>
                            </div>
                            <div class="flex gap-2 items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                    class="lucide lucide-folder-open-icon lucide-folder-open">
                                    <path
                                        d="m6 14 1.5-2.9A2 2 0 0 1 9.24 10H20a2 2 0 0 1 1.94 2.5l-1.54 6a2 2 0 0 1-1.95 1.5H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h3.9a2 2 0 0 1 1.69.9l.81 1.2a2 2 0 0 0 1.67.9H18a2 2 0 0 1 2 2v2" />
                                </svg>
                                <span class="text-neutral-500">{{ item.subject.lessons.count }} сабақ</span>
                            </div>
                        </div>
                    </a>

                    <div class="flex gap-2">
                        {% if item.user_subject %}
                            <a 
                                href="/user/subject/n/chapter/n/lesson/n/" 
                                class="flex gap-2 justify-center items-center w-full text-center cursor-pointer focus:outline-none bg-neutral-100 hover:bg-neutral-200 focus:ring-4 focus:ring-neutral-300 font-medium rounded-lg px-5 py-2.5"
                            >
                                <span>Сабаққа кіру</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                    class="lucide lucide-arrow-right-icon lucide-arrow-right">
                                    <path d="M5 12h14" />
                                    <path d="m12 5 7 7-7 7" />
                                </svg>
                            </a>
                        {% else %}
                            <form action="{% url 'enroll_subject' item.subject.id %}" method="post" class="w-full">
                                {% csrf_token %}
                                <button
                                    type="submit"
                                    class="flex gap-2 justify-center items-center w-full text-center cursor-pointer focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg px-5 py-2.5"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus">
                                        <path d="M5 12h14" />
                                        <path d="M12 5v14" />
                                    </svg>
                                    <span>Пәнге жазылу</span>
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock main_layout %}
