{% extends "layouts/main_layout.html" %}
{% load static %}

{% block title %}Басқару панелі | Biomedia{% endblock title %}


{% block main_layout %}

<div class="max-w-screen-xl py-6 px-4 mx-auto grid gap-8">
    <div class="text-center grid gap-2">
        {% if user.avatar %}
            <img 
                class="w-28 h-28 rounded-full mx-auto"
                src="{{ user.avatar.url }}" alt="user photo"
            >
        {% else %}
            <img 
                class="w-28 h-28 rounded-full mx-auto"
                src="{% static 'images/user-avatar.jpg' %}" alt="user photo"
            >
        {% endif %}
        <h1 class="text-2xl font-semibold" role="none">
            {% if user.first_name and user.last_name %}
                {{ user.first_name }} {{ user.last_name }}
            {% else %}
                {{ user.username }}
            {% endif %}
        </h1>
    </div>

    <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 xl:grid-cols-3">
        <div class="block text-center p-6 bg-white border border-neutral-200 rounded-lg hover:bg-neutral-100">
            <h5 class="mb-2 text-4xl font-semibold tracking-tight">122</h5>
            <p class="font-normal text-neutral-500">Lorem, ipsum dolor sit amet</p>
        </div>

        <div class="block text-center p-6 bg-white border border-neutral-200 rounded-lg hover:bg-neutral-100">
            <h5 class="mb-2 text-4xl font-semibold tracking-tight">122</h5>
            <p class="font-normal text-neutral-500">Lorem, ipsum dolor sit amet</p>
        </div>

        <div class="block text-center p-6 bg-white border border-neutral-200 rounded-lg hover:bg-neutral-100">
            <h5 class="mb-2 text-4xl font-semibold tracking-tight">122</h5>
            <p class="font-normal text-neutral-500">Lorem, ipsum dolor sit amet</p>
        </div>
    </div>

    <div class="grid gap-4">
        <div class="flex gap-4">
            <div class="flex-1 flex items-center justify-between">
                <h5 class="text-base font-semibold leading-none">Өтіліп жатқан пәндер</h5>
            </div>

            <div class="max-w-sm w-full flex items-center justify-between">
                <h5 class="text-base font-semibold leading-none">Пән бойынша үздіктер</h5>
            </div>
        </div>

        <div class="grid gap-4">
            <!-- #1 -->
            {% for item in user_subjects %}
                <div class="flex rounded-lg border border-neutral-200">
                    <a 
                        href="/user/subject/n/chapter/n/lesson/n/"
                        class="flex-1 grid gap-4"
                    >
                        <div class="flex items-start gap-4 p-4 border-r border-neutral-200 hover:bg-neutral-50">
                            <div class="max-w-xs w-full rounded-lg overflow-hidden">
                                <div class="aspect-video flex justify-center items-center text-neutral-500 bg-neutral-100">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                        stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-box-icon lucide-box">
                                        <path
                                            d="M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z" />
                                        <path d="m3.3 7 8.7 5 8.7-5" />
                                        <path d="M12 22V12" />
                                    </svg>
                                </div>
                            </div>

                            <div class="flex-1 grid gap-4">
                                <div>
                                    <h1 class="text-xl font-semibold">{{ item.subject.title }}</h1>
                                    <span class="text-neutral-500">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, doloribus.</span>
                                </div>

                                <div class="flex gap-4 justify-between">
                                    <div  class="text-center">
                                        <div class="radial-progress bg-neutral-100 text-base text-green-600 mb-2" style="--value:12; --size: 4rem;" aria-valuenow="70" role="progressbar">12%</div>
                                        <p class="text-neutral-500">Пән бойынша</p>
                                    </div>

                                    <div  class="text-center">
                                        <div class="radial-progress bg-neutral-100 text-base text-green-600 mb-2" style="--value:37; --size: 4rem;" aria-valuenow="70" role="progressbar">37%</div>
                                        <p class="text-neutral-500">Бөлім бойынша</p>
                                    </div>

                                    <div  class="text-center">
                                        <div class="radial-progress bg-neutral-100 text-base text-green-600 mb-2" style="--value:86; --size: 4rem;" aria-valuenow="70" role="progressbar">86%</div>
                                        <p class="text-neutral-500">Сабақ бойынша</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                    <div class="max-w-sm w-full grid gap-2">
                        <div class="flex items-center py-2 px-4 border-b border-neutral-200">
                            <div class="shrink-0">
                                <img class="w-8 h-8 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-1.jpg" alt="Neil image">
                            </div>
                            <div class="flex-1 min-w-0 ms-4">
                                <h1 class="text-base font-medium text-gray-900 truncate">Neil Sims</h1>
                                <p class="text-neutral-500 truncate ">email@windster.com</p>
                            </div>
                                
                            <div 
                                class="radial-progress bg-neutral-100 text-xs text-green-600" 
                                style="--value:70; --size: 3rem;" 
                                aria-valuenow="70" role="progressbar"
                            >
                                70%
                            </div>
                        </div>

                        <div class="flex items-center py-2 px-4 border-b border-neutral-200">
                            <div class="shrink-0">
                                <img class="w-8 h-8 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-2.jpg" alt="Neil image">
                            </div>
                            <div class="flex-1 min-w-0 ms-4">
                                <h1 class="text-base font-medium text-gray-900 truncate">Neil Sims</h1>
                                <p class="text-neutral-500 truncate ">email@windster.com</p>
                            </div>
                                
                            <div 
                                class="radial-progress bg-neutral-100 text-xs text-green-600" 
                                style="--value:65; --size: 3rem;" 
                                aria-valuenow="65" 
                                role="progressbar"
                            >
                                65%
                            </div>
                        </div>

                        <div class="flex items-center py-2 px-4">
                            <div class="shrink-0">
                                <img class="w-8 h-8 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-3.jpg" alt="Neil image">
                            </div>
                            <div class="flex-1 min-w-0 ms-4">
                                <h1 class="text-base font-medium text-gray-900 truncate">Neil Sims</h1>
                                <p class="text-neutral-500 truncate ">email@windster.com</p>
                            </div>
                                
                            <div 
                                class="radial-progress bg-neutral-100 text-xs text-green-600" 
                                style="--value:58; --size: 3rem;" 
                                aria-valuenow="58" 
                                role="progressbar"
                            >
                                58%
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock main_layout %}